#lsouhait
{
	margin-top:25px;
	text-align : center;
}
#lminiature
{
	height:100px;
	width:100px;
}
#bsouhait
{
	margin-top:20px;
}
.light{
	transition: .5s;
}
.light:hover{
	transform: scale(1.05);
}
.table-light th
{
	text-align : center;
}